<%- include('partials/header') %>
<main class="container-fluid contenedor">
    <div class="row py-3 mx-1 d-flex flex-row align-items-center justify-content-around">
        <section class="tarjeta card col-12 col-md-4 shadow-lg">
            <picture class="foto py-2">
                <img src="multimedia/recursos/jona.png" alt="Foto de perfil" srcset="" class="fotoperfil">
            </picture>
            <h2 class="card-title text-center">Jonathan Javier Urquiza</h2>
            <p class="card-text px-4">Cuento con competencias de análisis,
                planificación, seguimiento de las tareas,
                orientación a la mejora continua,
                optimización del uso de recursos y
                orientación a resultados, responsable con
                compromiso.</p>
        </section>
        <section class="box col-12 col-md-8 py-2">
            <h1 class="card-title text-center text-decoration-underline">Perfil técnico</h1>
            <h2 class="card-title text-center">Desarrollador de softwere</h2>
            <p class="card-text px-4">Manejo de base de datos, desarrollador frontend <span class="fw-bold">Reactjs</span>.
            Manejo de herramientas visuales y entornos de desarrollo <span class="fw-bold">(netbeans, visual studio, android studio)</span>, brindando ese conocimiento 
            para oferecer el mejor diseño disponible para nuestros clientes.

            </p>
            <h3 class="card-title text-center text-decoration-underline">Formación</h3>
            <p class="card-text px-4">Certificación en deasorrollo web y lenguaje de progamación javascript<span class="fw-bold"> (coderHouse)</span>
            Testing QC/QA, programación de servidor (nodeJS).</p>
            <h4 class="card-title text-center text-decoration-underline">Tecnologías</h4>
            <ul class="card-text d-flex flex-row flex-wrap align-items-baseline justify-content-around flex-grow-1">
                <li class="list-group"><img src="multimedia/recursos/favicons/icons8-javascript.gif" alt="" srcset=""></li>
                <li class="list-group"><img src="multimedia/recursos/favicons/icons8-html-48.png" alt=""></li>
                <li class="list-group"><img src="multimedia/recursos/favicons/icons8-css-48.png" alt="" srcset=""></li>
                <li class="list-group"><img src="multimedia/recursos/favicons/icons8-node-js-48.png" alt="" srcset=""></li>
            </ul>
            <div class="d-sm-none d-md-block">
                <h4 class="card-title text-center text-decoration-underline">Contactos</h4>
                <ul class="card-text d-flex flex-row flex-wrap align-items-baseline justify-content-around flex-grow-1">
                    <li class="list-group"><a href="https://www.facebook.com/jonathan.urquiza.144/"><img src="multimedia/recursos/favicons/facebook.svg" alt="" srcset=""></a></li>
                    <li class="list-group"><a href="https://github.com/JonathanUrquiza"><img src="multimedia/recursos/favicons/linkedin.svg" alt="" srcset=""></a></li>
                    <li class="list-group"><a href=""><img src="multimedia/recursos/favicons/envelope-at-fill.svg" alt=""></a></li>
                    <li class="list-group"><a href="https://api.whatsapp.com/send?phone=1168370362 &text=Hola, Nececito mas informacion!" target="_blank"><img src="multimedia/recursos/favicons/whatsapp.svg" alt=""></a></li>
                </ul>
            </div>
        </section>
    </div>
</main>
<%- include('partials/footer') %>