<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item"><a href="shop.html" class="navbar__link">SHOP</a></li>
            <li class="navbar__item"><a href="../login.html" class="navbar__link">INGRESAR</a></li>
            <li class="navbar__item"><a href="../contact.html" class="navbar__link">CONTACTO </a></li>
        </ul>
        <picture>
            <img class="logo" src="../../multimedia/branding/isotype.svg" alt="Iso tipo de la marca funkoshop">
        </picture>
    </nav>
    <P class="footer__copy">All rights reserved 2023 -Funkoshop & Grupo 2 Comisión 23569</P>
</footer>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="../../js/shop.js" type="module"></script>
<script src="../../js/glide.js"></script>
</body>

</html>