<%- include('../partials/headerS') %>
    <main class="container" id="register">
        <section class="register__header">
            <h1 class="register__title">CREA TU CUENTA</h1>
            <p class="register__subtitle">Completa el formulario para ser parte del mundo de los Funkos.</p>
        </section>

        <form action="/auth/register" method="post" id="register" class="register__form"
            enctype="application/x-www-form-urlencoded">
            <fieldset class="form__box--grid">
                <label class="form__label" for="name" id="name">Nombre:</label>
                <input class="form__input" type="text" id="name" name="name" required placeholder="Nombre">
            </fieldset>
            <fieldset class="form__box--grid">
                <label for="lastname" class="form__label">Apellido:</label>
                <input type="text" class="form__input" id="lastname" name="lastname" required placeholder="Apellido">

            </fieldset>
            <fieldset class="form__box--grid">
                <label class="form__label" for="email">Email:</label>
                <input class="form__input" id="email" name="email" type="email" placeholder="example@email.com"
                    required />
            </fieldset>
            <fieldset class="form__box--grid">
                <label class="form__label">Password:</label>
                <input class="form__input" id="password" name="password" type="password" minlength="1" maxlength="10"
                    placeholder="password" />
                </fieldset>
                <fieldset class="form__box--grid">
            <label class="form__label" for="password">Repita password</label>
            <input class="form__input" id="password" name="password" type="password" minlength="1" maxlength="10"
                placeholder="Repita su password" />
            </fieldset>
            <fieldset class="form__submission">
                <input class="form__btn btn btn--primary btn--large" type="submit" value="registrar">
                <div class="form__terms">
                    <input type="checkbox" name="" id="">
                    <label for="">Acepto <a class="form__link" href="">Términos y condiciones</a></label>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>

    </main>
    <%- include('../partials/footerS') %>