<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/octoface.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../style/components/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/index.css">
    <title>Items List</title>
</head>
<!-- Inicio de header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Fourth navbar example">
        <picture class="navbar__logo">
            <a href="./Index">
                <img src="multimedia/branding/logo_light_horizontal.svg" alt="Logo del ecommerce funkoshop">
            </a>
        </picture>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarsExample04">
            <ul class="navbar-nav navbar__menu">
                <li class="nav__item dropdown with-submenu">
                    <a class="nav__link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">SHOP</a>
                    <ul class=" submenu">
                        <li class="submenu__item"><a class="dropdown-item submenu__link" href="../shop/shop.html">Funkos</a></li>
                        <li class="submenu__item"><a class="dropdown-item submenu__link" href="../shop/remeras.html">Remeras</a></li>
                        <li class="submenu__item"><a class="dropdown-item submenu__link" href="../shop/llaveros.html">Llaveros</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav__link" aria-current="page" href="pages/contact.html">CONTACTO</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="pages/login.html">LOGIN</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="pages/shop/cart.html">CART</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link"><img src="multimedia/icons/cart-icon.svg" alt=""></a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<main>
    <section id="admin">
        <section class="d-flex flex-row align-items-center justify-content-start">
            <picture>
                <img src="../../multimedia/icons/search_icon.svg" alt="" srcset="" width="34px" height="34px">
            </picture>
            <form action="" method="get" class="admin__form">
                <label for=""></label><input class="admin__search-bar bar" type="text"
                    placeholder="Código, nombre o categoría">
            </form>
        </section>
        <section class="container--cartlist">

            <h2 class="container__title">LISTADO DE PRODUCTOS</h2>
            <table class="table-cart">

                <!------ Cabecera de listado items en carrito ------>
                <thead class="table-cart__head">
                    <tr class="table-cart__row">

                        <td class="table-cart__data table-cart__data--head">
                            <span>ID</span>
                        </td>
                        <td class="table-cart__data table-cart__data--head">
                            <span>Código</span>
                        </td>
                        <td class="table-cart__data table-cart__data--head">
                            <span>Nombre del Producto</span>
                        </td>
                        <td class="table-cart__data table-cart__data--head">
                            <span>Categoría</span>
                        </td>
                    </tr>
                </thead>

                <!------ Listado de items en carrito ------>
                <tbody class="table-cart__body">

                    <!------ Item 1 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>1</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>STW001001</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Baby Yoda Blueball</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>STAR WARS</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>

                    <!------ Item 2 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>2</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>STW001002</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Boba Fett Fighter</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>STAR WARS</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>

                    <!------ Item 3 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>3</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>STW001003</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Luke Skaylwalker & Grogu</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>STAR WARS</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <!------ Item 4 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>4</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>STW001004</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Strotrooper Lightsaber</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>STAR WARS</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <!------ Item 5 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>5</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>PKM001001</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Charmander Smiley</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>POKEMON</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <!------ Item 6 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>6</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>PKM001002</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Dragonite Hi!</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>POKEMON</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <!------ Item 7 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>7</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>PKM001003</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Pidgeotto Flying</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>POKEMON</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>

                    <!------ Item 8 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>8</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>PKM001004</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Pikachu Smiley</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>POKEMON</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>

                    <!------ Item 9 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>9</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>PKM001005</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Vulpix Fancy</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>POKEMON</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <!------ Item 10 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>10</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>HPT001001</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Harry Potter & Hegwid</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>HARRY POTTER</p>
                        </td>
                        <!------ Modificar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <!--   Eliminar item -->
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <!------ Item 11 ------>
                    <tr class="table-cart__row">
                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>11</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>HPT001002</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Hermione Ball Dress</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>HARRY POTTER</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <!------ Item 11 ------>
                    <tr class="table-cart__row">

                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>12</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>HPT001003</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Luna Lovegood Lion Mask</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>HARRY POTTER</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <tr class="table-cart__row">

                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>12</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>HPT001003</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Luna Lovegood Lion Mask</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>HARRY POTTER</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <tr class="table-cart__row">

                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>12</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>HPT001003</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Luna Lovegood Lion Mask</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>HARRY POTTER</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>
                    <tr class="table-cart__row">

                        <!------ Imagen del item ------>
                        <td class="table-cart__data">
                            <p>13</p>
                        </td>
                        <!------ Descripcion del item ------>
                        <td class="table-cart__data">
                            <p>HPT001004</p>
                        </td>
                        <!------ Cantidad item ------>
                        <td class="table-cart__data">
                            <p>Snape Patronus</p>
                        </td>
                        <!------ Precio total ------>
                        <td class="table-cart__data">
                            <p>HARRY POTTER</p>
                        </td>
                        <!------ Eliminar item ------>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/edit_pencil.svg" alt="" height="34px">
                            </picture>
                        </td>
                        <td class="table-cart__data">
                            <picture>
                                <img src="../../multimedia/icons/delete_trash.svg" alt="" width="34px" height="34px">
                            </picture>
                        </td>
                    </tr>

                </tbody>
            </table>
        </section>
</main>
<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li><a href="/shop" class="navbar__link">SHOP</a></li>
            <li><a href="/resgister" class="navbar__link">REGISTRARSE</a></li>
            <li><a href="/login" class="navbar__link">INGRESAR</a></li>
            <li><a href="/contact" class="navbar__link">CONTACTO </a></li>
        </ul>
        <picture>
            <img class="logo" src="../multimedia/branding/isotype.svg" alt="Iso tipo de la marca funkoshop">
        </picture>
    </nav>
    <P>All rights reserved 2023 -Funkoshop & Jonathan Javier Urquiza Comisión 23569</P>
</footer>
<script src="../../js/bootstrap.bundle.min.js"></script>
</body>

</html>