<%- include('../partials/errorheader')  %>
<body>
    <!-- tsParticles container -->
    <div id="tsparticles"></div>
    <!-- https://github.com/matteobruni/tsparticles -->

    <div id="container">
      <h1>404</h1>
    </div>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"
    ></script>
    <script type="text/javascript" src="../../js/error.js"></script>
  </body>