<%- include('../partials/errorheader')  %>
<body>
  
    <!-- tsParticles container -->
    <div id="tsparticles"></div>
    <!-- https://github.com/matteobruni/tsparticles -->

    <main id="container">
      <section class="bg-dark">
        <h2>Error 404</h2>
        <p>Error de recursos</p>
      </section>
    </main>
    
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"
    ></script>
    <script type="text/javascript" src="../../js/error.js"></script>
    
  </body>